@model Pet

<div class  ="container">
    <div class="top">
        <h3>DOJODATCHI</h3>
    </div>

    <div class="box">

        <img src='~/images/pug.gif' alt="PetGif">
        <div class="box2">
            <h5>Fullness: &nbsp; @Model.Fullness </h5> &nbsp;
            <h5>Happiness:  &nbsp; @Model.Happiness</h5> &nbsp;
            <h5>Meals:  &nbsp; @Model.Meal </h5> &nbsp;
            <h5>Energy:  &nbsp; @Model.Energy </h5> &nbsp;

            <p>@Model.Message </p>

        </div>
    </div>

    
    <button><a href="/feed">Feed</a></button>

    <button><a href="/play">Play</a></button>

    <button><a href="/work">Work</a></button>

    <button><a href="/sleep">Sleep</a></button>
</div>